@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

:root {
    --amarelo: #cea964;
    --marrom: #827153;
}


.barramenu {
    color:white;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    align-items: center;
    transition: 0.8s;
}

.barramenu.ativo {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(228, 228, 228);
    transition: 0.8s;
}

.titulomenu {
    margin-right: 640px;
    padding-top: 10px;
    padding-left: 10px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu ul li {
    display: none;
}

.menu li:hover ul li {
    display: block;
    border: 1px solid rgb(228, 228, 228);
}

.menusub {
    margin: 10px;
}

.menusub.ativo {
    background-color: white;
    margin: 10px;
}

li {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

nav {
    display: flex;
}

.busca {
    width: 100px;
    height: 30px;
    margin-left: 5px;
    margin-top: 10px;
}

.lupa {
    padding-top: 10px;
}

.logo {
    height: 40px;
    padding: 5px;
    margin-left: 20px;
    transition: 0.8s;
}

.logo.ativo {
    filter: brightness(0%);
    transition: 0.8s;
}

footer {
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    justify-content: center;    
}

.textofooter {
    padding: 5px;
}

.imgprincipal2 {
    background-image: url("img/pag2/alpes.jpg");
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separa1 {
    background-color: var(--amarelo);
    width: 100px;
    height: 10px;
    margin-top: 10px;
}

.separa2 {
    height: 90px;
}

h1 {
    font-size: 4rem;
    color: white;
    font-weight: 500;
}

h2 {
    font-size: 2.2rem;
    color: white;
    font-weight: 500;   
}

h3 {
    font-size: 1.5rem;
    color: var(--marrom);
    font-weight: 600;
}

h4 {
    font-size: 1.4rem;
    color: var(--amarelo);
    font-weight: 500;
    text-decoration: none;
}

h5 {

    font-size: 1rem;
    color: white;
    font-weight: 300;  
}


main a:link {
    color: rgb(0, 0, 0);
}

main a:visited {
    color: rgb(0, 0, 0);
}

main a:active {
    color:rgb(0, 0, 0);
}

main a:hover {
    color: rgb(0, 0, 0);
}



footer a:link {
    color: rgb(0, 0, 0);
}

footer a:visited {
    color: rgb(0, 0, 0);
}

footer a:active {
    color:black;
}

footer a:hover {
    color: black;
}
.menu a:link {
    color: white;
    transition: 0.8s;
}

.menu a:visited {
    color: white;
    transition: 0.8s;
}

.menu a:active {
    color: white;
    transition: 0.8s;
}

.menu a:hover {
    color: white;
    transition: 0.8s;
}

.menu.ativo a:link {
    color: black;
    transition: 0.8s;
}

.menu.ativo a:visited {
    color: black;
    transition: 0.8s;
}

.menu a:active {
    color: black;
    transition: 0.8s;
}

.menu a:hover {
    color: rgb(255, 255, 255);
    transition: 0.8s;
}

h1 a:link {
    color: #ffffff;
    transition: 0.8s;
}

h1 a:visited {
    color: #ffffff;
    transition: 0.8s;
}

h1 a:active {
    color: #ffffff;
    transition: 0.8s;
}

h1 a:hover {
    color: #ffffff;
    transition: 0.8s;
}

h4 a:link {
    color: #ffffff;
    transition: 0.8s;
}

h4 a:visited {
    color: #ffffff;
    transition: 0.8s;
}

h4 a:active {
    color: #ffffff;
    transition: 0.8s;
}

h4 a:hover {
    color: #ffffff;
    transition: 0.8s;
}

h4 a:link.ativo {
    color: var(--amarelo);
    transition: 0.8s;
}

h4 a:visited.ativo {
    color: var(--amarelo);
    transition: 0.8s;
}

h4 a:active.ativo {
    color: var(--amarelo);
    transition: 0.8s;
}

h4 a:hover.ativo {
    color: var(--amarelo);
    transition: 0.8s;
}

.roteiro {
    height: 310px;
    background-color: var(--marrom);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textoroteiro {
    padding: 10px;
}

.roteiro p {
    color: white;
}

.peru {
    display: flex;
    justify-content: flex-start;
    padding: 20px; 
}

.imgperu {
    width: 480px;
    height: 280px;
    margin-left: 200px;
    background-image: url("img/pag2/peru.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.textoperu {
    padding: 30px;
    width: 550px;
}

.berlim {
    display: flex;
    justify-content: flex-start;
    background-color: #f7f4ee;
    padding: 20px;
}

.imgberlim {
    width: 480px;
    height: 280px;
    margin-left: 200px;
    background-image: url("img/pag2/berlim.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.textoberlim {
    padding: 30px;
    width: 550px;
}

.patagonia {
    display: flex;
    justify-content: flex-start;
    padding: 20px; 
}

.imgpatagonia {
    width: 480px;
    height: 280px;
    margin-left: 200px;
    background-image: url("img/pag2/patagonia.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.textopatagonia {
    padding: 30px;
    width: 550px;
}

.maranhenses {
    display: flex;
    justify-content: flex-start;
    background-color: #f7f4ee;
    padding: 20px; 
}

.imgmaranhenses {
    width: 480px;
    height: 280px;
    margin-left: 200px;
    background-image: url("img/pag2/maranhenses.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.textomaranhenses {
    padding: 30px;
    width: 550px;
}

.canela {
    display: flex;
    justify-content: flex-start;
    padding: 20px; 
}

.imgcanela {
    width: 480px;
    height: 280px;
    margin-left: 200px;
    background-image: url("img/pag2/canela.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.textocanela {
    padding: 30px;
    width: 550px;
}

.maragogi {
    display: flex;
    justify-content: flex-start;
    background-color: #f7f4ee;
    padding: 20px; 
}

.imgmaragogi {
    width: 480px;
    height: 280px;
    margin-left: 200px;
    background-image: url("img/pag2/maragogi.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.textomaragogi {
    padding: 30px;
    width: 550px;
}

nav img.ativo {
    filter: brightness(0%);
    transition: 0.8s;
}

@keyframes animacao {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    75% { margin-left: -300%; }
    95% { margin-left: -300%; }
    100% { margin-left: -400%; }
}

.galery {
    width: 320px;
    height: 180px;
    background-color: black;
    overflow: hidden;
}

.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.galery .fotos img {
    width: 19.8%;
}