@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

:root {
    --amarelo: #cea964;
    --marrom: #827153;
}


.barramenu {
    color:white;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    align-items: center;
    transition: 0.8s;
}

.barramenu.ativo {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(228, 228, 228);
    transition: 0.8s;
}

.logo {
    height: 40px;
    padding: 5px;
    margin-left: 20px;
    transition: 0.8s;
}

.logo.ativo {
    filter: brightness(0%);
    transition: 0.8s;
}

.menusub {
    margin: 10px;
    background-color: var(--marrom);
}

.menusub.ativo {
    background-color: white;
    margin: 10px;
}

.titulomenu {
    margin-right: 640px;
    padding-top: 10px;
    padding-left: 10;
}

.menu {
    display: flex;
    list-style: none;
}

.menu ul li {
    display: none;
}

.menu li:hover ul li {
    display: block;
    border: 1px solid rgb(228, 228, 228);
}

li {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

nav {
    display: flex;
}

.busca {
    width: 100px;
    height: 30px;
    margin-left: 5px;
    margin-top: 10px;
}

.lupa {
    padding-top: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    justify-content: center;    
}

.textofooter {
    padding: 5px;
}

.imgprincipal {
    background-image: url("img/pag1/headbonito.png");
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloprincipal {
    display: flex;
    flex-direction: column;
    margin-left: 700px;
    align-items: center;
}

.tituloprincipal h5 {
    padding: 30px;
}

.tituloprincipal h6 {
    padding: 30px;
}

.separa1 {
    background-color: var(--amarelo);
    width: 100px;
    height: 10px;
    margin-top: 10px;
}

.separa2 {
    height: 90px;
}

h1 {
    font-size: 4rem;
    color: white;
    font-weight: 500;
}

h2 {
    font-size: 2.2rem;
    color: white;
    font-weight: 600;   
}

h3 {
    font-size: 1.5rem;
    color: var(--marrom);
    font-weight: 600;
}

h4 {
    font-size: 1.4rem;
    color: var(--amarelo);
    font-weight: 500;
    text-decoration: none;
}

h5 {

    font-size: 1.1rem;
    color: white;
    font-weight: 600;  
}

h6 {

    font-size: 1.4rem;
    color: white;
    font-weight: 600;  
}

main a:link {
    color: rgb(0, 0, 0);
}

main a:visited {
    color: rgb(0, 0, 0);
}

main a:active {
    color:rgb(0, 0, 0);
}

main a:hover {
    color: rgb(0, 0, 0);
}

footer a:link {
    color: rgb(0, 0, 0);
}

footer a:visited {
    color: rgb(0, 0, 0);
}

footer a:active {
    color:black;
}

footer a:hover {
    color: black;
}

h1 a:link {
    color: #ffffff;
    transition: 0.8s;
}

h1 a:visited {
    color: #ffffff;
    transition: 0.8s;
}

h1 a:active {
    color: #ffffff;
    transition: 0.8s;
}

h1 a:hover {
    color: #ffffff;
    transition: 0.8s;
}

h4 a:link {
    color: #ffffff;
    transition: 0.8s;
}

h4 a:visited {
    color: #ffffff;
    transition: 0.8s;
}

h4 a:active {
    color: #ffffff;
    transition: 0.8s;
}

h4 a:hover {
    color: #ffffff;
    transition: 0.8s;
}

h4 a:link.ativo {
    color: var(--amarelo);
    transition: 0.8s;
}

h4 a:visited.ativo {
    color: var(--amarelo);
    transition: 0.8s;
}

h4 a:active.ativo {
    color: var(--amarelo);
    transition: 0.8s;
}

h4 a:hover.ativo {
    color: var(--amarelo);
    transition: 0.8s;
}

nav img.ativo {
    filter: brightness(0%);
    transition: 0.8s;
}

.menu a:link {
    color: white;
    transition: 0.8s;
}

.menu a:visited {
    color: white;
    transition: 0.8s;
}

.menu a:active {
    color: white;
    transition: 0.8s;
}

.menu a:hover {
    color: white;
    transition: 0.8s;
}

.menu.ativo a:link {
    color: black;
    transition: 0.8s;
}

.menu.ativo a:visited {
    color: black;
    transition: 0.8s;
}

.menu a:active {
    color: black;
    transition: 0.8s;
}

.menu a:hover {
    color: rgb(255, 255, 255);
    transition: 0.8s;
}

.imgdia1 {
    background-image: url("img/pag1/dia1.png");
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgdia2 {
    background-image: url("img/pag1/dia2.png");
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgdia3 {
    background-image: url("img/pag1/dia3.png");
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgdia4 {
    background-image: url("img/pag1/dia4.png");
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgdia5 {
    background-image: url("img/pag1/dia5.png");
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgdia6 {
    background-image: url("img/pag1/dia6.png");
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
}

.roteiro {
    background-color: var(--marrom);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.roteiro div {
    display: flex;
}

.roteiro h2 {
    margin-top: 30px;
    margin-bottom: 60px;
}

.dia1,.dia2,.dia3,.dia4,.dia5,.dia6 {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    margin-left: 30px;
}

.dia1 h5,.dia2 h5,.dia3 h5,.dia4 h5,.dia5 h5,.dia6 h5 {
    margin-bottom: 15px;
}

.dia1 p,.dia2 p,.dia3 p,.dia4 p,.dia5 p,.dia6 p {
    margin-top: 15px;
    margin-bottom: 60px;
    color: white;
    font-size: 0.9rem;
    text-align: center;
}

.inscreve {
    height: 120px;
    background-color: #f7f4ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inscreve h3 {
    font-size: 2.2rem;
}

.pacote {
    display: flex;
}

.pacote li {
    list-style: square;
    padding: 3px;
}

.pacote h3 {
    margin-bottom: 20px;
    margin-top: 50px;
}

form {
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

form input {
    margin-bottom: 30px;
    background-color: #f7f4ee;
    border: 1px solid var(--amarelo);
    width: 300px;
    height: 30px;
    margin-top: 5px;
}

form div {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

form img {
    margin-top: 30px;   
}

video {
    margin-top: 20px;
}

.separa3 {
        background-color: var(--marrom);
        height: 90px;
        margin-top: 40px;
}

.separa4 {
    background-color: var(--marrom);
    height: 120px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.local {
    background-color: #f7f4ee;
    padding: 40px;
    align-items: center;
}

.local p {
    color: var(--marrom);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 60px;
    margin-top: 40px;
}

.local h3 {
    text-align: center;
    margin-bottom: 50px;
}

.local div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.local span {
    display: flex;
    flex-direction: column;
}

.local input {
    width: 400px;
    height: 40px;
    background-color: var(--marrom);
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form img {
    animation: pisca 0.8s ease-in infinite;
    z-index: -1;
}

.submit {
    cursor: pointer;
    width: 300px;
    margin-top: 2rem;
    border: none;
    border-radius: 2px;
    background-color: var(--amarelo);
    color: white;
    font-size: 1.1rem;
    animation: botao 0.8s ease-in infinite;
}

@keyframes pisca {
    from {
        filter: brightness(70%);
        transition: 1s;
    }
    to {
        filter: brightness(90%);
        transition: 1s;
    }
}

@keyframes botao {
        from {
            background-color: var(--marrom);
            transition: 1s;
        }
        to {
            background-color: --;
            transition: 1s;
        }
}

@media (min-width: 100px) and (max-width: 799px){
    .titulomenu {
        margin-right: 1px;
    }

    .lupa {
        display: none;
    }

    .busca {
        display: none;
    }

    .barramenu {
        height: 70px;
    }
    .tituloprincipal {
        margin-left: 1px;
    }
    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    .imgprincipal {
        background-position: 95% 75%;
    }

    h2 {
        font-size: 1.3rem;
    }
    .inscreve h3 {
        font-size: 1.1rem;
    }

    .pacote {
        display: block;
    }

    form {
        width: 90vw;
    }
    
    .confira {
        padding-left: 40px;
    }

    video {
        width: 400px;
    }
    
    .roteiro div {
        display: block;
    }

    .local div {
        display: block;
    }

    .local p {
        font-size: 1rem;
    }

    iframe {
        width: 400px;
        padding-top: 50px;
    }

}

@media (min-width: 800px) and (max-width: 900px){
    .titulomenu {
        margin-right: 10px;
    }
    .tituloprincipal {
        margin-left: 1px;
    }

    h1 {
        font-size: 3rem;
    }

    .imgprincipal {
        background-position: 60% 75%;
    }

    main {
        padding: 400px;
    }
}

@media (min-width: 901px) and (max-width: 1199px){
    .titulomenu {
        margin-right: 30px;
    }

    .tituloprincipal {
        margin-left: 400px;
    }
    .imgprincipal {
        background-position: 99% 75%;
    }
}

@media (min-width: 1200px) and (max-width: 1500px){
    .titulomenu {
        margin-right: 360px;
    }

    .tituloprincipal {
        margin-left: 800px;
    }
    .imgprincipal {
        background-position: 90% 75%;
    }
}